<div class="row">
    <div class="col">
        <h1 class="text-center">Order Summary</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <app-cart [cart]="cart"></app-cart>
    </div>
    <div class="col-2">
        <div class="card">
            <div class="card-body" style="width: fit-content;">
                <h5 class="card-title">Proceed to buy</h5>
                <h6 class="card-subtitle mb-2 text-muted">Total no. of items: {{cart.items}}</h6>
                <p class="card-text">Total: ₹{{cart.total}}</p>
                <a routerLink="/pay" class="btn btn-primary">Pay now</a>
            </div>
        </div>
    </div>
</div>