<div class="back">
    <div class="row" style="color: rgb(235, 113, 13); margin-top: 3rem; padding-top: 2rem; ">
        <br><br>
        <h1 style="text-align: center;margin-top: 1rem; font-family:  Lucida Console, Courier New, monospace;">. Food
            Box .</h1>
        <br>
    </div>
    <div class="row" style="color: white; margin-top: 3rem; padding-top: 2rem;">
        <br><br>
        <h3 class="h3">Login Form</h3>
        <br><br>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-auto">
            <form [formGroup]="loginForm" class="border p-4  " style="background-color: rgb(255, 255, 255);">

                <div class="mb-3">

                    <input formControlName="username" type="text" class="form-control" id="exampleInputEmail1"
                        placeholder="Username">
                </div>
                <div class="mb-3">

                    <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1"
                        placeholder="Password">
                </div>
                <button (click)="handleSubmit()" type="submit" class="btn btn-dark" style="width: 100%;">Submit</button>
                <div [hidden]="!errorMessage" class="mt-2 text-white">
                    {{errorMessage}}
                </div>
                <div class="mb-3" style="text-align: center;">
                    <br>
                    <a routerLink="/signup"
                        style="color: white; text-decoration: none; background-color: green; padding-right: 3px;padding-left: 3px;">Signup</a>
                </div>
            </form>
        </div>
    </div>

    <div class="row" style="width: 25rem;">
        <br><br><br>
    </div>

</div>