.nav-link{
    margin-right: 5px;
    margin-left: 5px;
    color: saddlebrown;
    font-family: monospace;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.srch{
    border-radius: 8px;
    border-color: saddlebrown;
    font-weight: bold;
    font-size: large;
    padding-left: 4%;
}